<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin-dashboard.css">
</head>
<body>
<div class="dashboard-container">
    <!-- Sidebar -->
    

    <!-- Main content -->
    <main class="main-content">
        <header class="main-header">
            <h1>Welcome, Admin</h1>
            <p>Manage your platform from one place</p>
        </header>

       

        <section class="users">
            <div th:each="user:${User}" class="card">
                <ul class="list-card">
                    <li th:text="${user.name}"></li>
                    <li th:text="${user.email}"></li>
                </ul>
            </div>
        </section>
    </main>
</div>
</body>
</html>